In [1]:
#import libraries
import functions as func
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
#from sklearn.feature_selection import SequentialFeatureSelector as sfs
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use("ggplot")

df = pd.read_csv("houseprices.csv") 
df.head()

,Id,LotArea,Street,LotShape,LandContour,Utilities,Neighborhood,BldgType,HouseStyle,OverallQual,...,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Fireplaces,GarageType,GarageArea,MoSold,YrSold,SalePrice
0,1,8450,Pave,Reg,Lvl,AllPub,CollgCr,1Fam,2Story,7,...,3,1,Gd,8,0,Attchd,548,2,2008,208500
1,2,9600,Pave,Reg,Lvl,AllPub,Veenker,1Fam,1Story,6,...,3,1,TA,6,1,Attchd,460,5,2007,181500
2,3,11250,Pave,IR1,Lvl,AllPub,CollgCr,1Fam,2Story,7,...,3,1,Gd,6,1,Attchd,608,9,2008,223500
3,4,9550,Pave,IR1,Lvl,AllPub,Crawfor,1Fam,2Story,7,...,3,1,Gd,7,1,Detchd,642,2,2006,140000
4,5,14260,Pave,IR1,Lvl,AllPub,NoRidge,1Fam,2Story,8,...,4,1,Gd,9,1,Attchd,836,12,2008,250000

In [88]:
import functions as func

df.dropna(inplace=True)
df = pd.get_dummies(df)

y = df["SalePrice"]
X = df.copy(deep=True)
X.drop(["SalePrice"], axis=1, inplace=True)

scores1 = []
scores2 = []
scores3 = []

for i in X.columns:
    k1 = X[[i]]  
    score1 = func.trainLinearRegression(k1, y)
    scores1.append([i, score1])

min_score1 = min(scores1)
first_variable = X[[min_score1[0]]]
X.drop(min_score1[0], axis=1, inplace=True)

for i in X.columns:
    k2 = pd.concat(X[[i]], min_score1[0]) 
    score2 = func.trainLinearRegression(k2, y)
    scores2.append([i, score2])

min_score2 = min(scores2)
second_variable = X[[min_score2[0]]]
X.drop(min_score2[0], axis=1, inplace=True)

for i in X.columns:
    k3 = pd.concat(X[[i]], min_score1[0], min_score2[0])
    score3 = func.trainLinearRegression(k3, y)
    scores3.append([i, score3])

min_score3 = min(scores3)
third_variable = X[[min_score3[0]]]

print(first_variable, second_variable, third_variable)


# ADD FIRST_VARIABLE TO LINE
# iterate through all the variables 

# append score to a list, find the smallest, and then add that variable to the linear model and then loop through the rest

# model with 1 chosen variable
# repeat until 3 variables chosen.

KeyError: "['BedroomAbvGr'] not in index"

      OverallCond  LotArea
0               5     8450
1               8     9600
2               5    11250
3               5     9550
4               5    14260
...           ...      ...
1455            5     7917
1456            6    13175
1457            9     9042
1458            6     9717
1459            6     9937

[1378 rows x 2 columns]