In [8]:
#import libraries
import functions as func
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [9]:
#read data
df = pd.read_csv("houseprices.csv")
df.head()

,Id,LotArea,Street,LotShape,LandContour,Utilities,Neighborhood,BldgType,HouseStyle,OverallQual,...,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Fireplaces,GarageType,GarageArea,MoSold,YrSold,SalePrice
0,1,8450,Pave,Reg,Lvl,AllPub,CollgCr,1Fam,2Story,7,...,3,1,Gd,8,0,Attchd,548,2,2008,208500
1,2,9600,Pave,Reg,Lvl,AllPub,Veenker,1Fam,1Story,6,...,3,1,TA,6,1,Attchd,460,5,2007,181500
2,3,11250,Pave,IR1,Lvl,AllPub,CollgCr,1Fam,2Story,7,...,3,1,Gd,6,1,Attchd,608,9,2008,223500
3,4,9550,Pave,IR1,Lvl,AllPub,Crawfor,1Fam,2Story,7,...,3,1,Gd,7,1,Detchd,642,2,2006,140000
4,5,14260,Pave,IR1,Lvl,AllPub,NoRidge,1Fam,2Story,8,...,4,1,Gd,9,1,Attchd,836,12,2008,250000

In [10]:
df = func.tidyData(df)
df.head()

,Id,LotArea,Street,LotShape,LandContour,Utilities,Neighborhood,BldgType,HouseStyle,OverallQual,...,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Fireplaces,GarageType,GarageArea,MoSold,YrSold,SalePrice
0,1,8450,Pave,Reg,Lvl,AllPub,CollgCr,1Fam,2Story,7,...,3,1,Gd,8,0,Attchd,548,2,2008,1
1,2,9600,Pave,Reg,Lvl,AllPub,Veenker,1Fam,1Story,6,...,3,1,TA,6,1,Attchd,460,5,2007,0
2,3,11250,Pave,IR1,Lvl,AllPub,CollgCr,1Fam,2Story,7,...,3,1,Gd,6,1,Attchd,608,9,2008,1
3,4,9550,Pave,IR1,Lvl,AllPub,Crawfor,1Fam,2Story,7,...,3,1,Gd,7,1,Detchd,642,2,2006,0
4,5,14260,Pave,IR1,Lvl,AllPub,NoRidge,1Fam,2Story,8,...,4,1,Gd,9,1,Attchd,836,12,2008,1

In [11]:
log_scores = func.fitLogisticRegression(df, func.logScore)
np.mean(log_scores)

29.630225405760505

In [12]:
brier_scores = func.fitLogisticRegression(df, func.brierScore)
np.mean(brier_scores)

0.06038922486254315